{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
Настройки модели ГРП
{% endblock %}
{% block content %}
<div class="container" style="padding: 80px;">
    <div class="row">
        <div class="col-md-2 mx-auto">
        </div>
        <div class="col-md-8 mx-auto">
            <form action="" method="post" name="settings">
                <div class="form-group row">
                    <div class="col-sm-6">
                        {{ wtf.form_field(form.model_type) }}
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        {{ wtf.form_field(form.number_of_fracs) }}
                    </div>
                    <div class="col-sm-6">
                        {{ wtf.form_field(form.distance_between_fracs) }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        {{ wtf.form_field(form.x_size) }}
                    </div>
                    <div class="col-sm-6">
                        {{ wtf.form_field(form.y_size) }}
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        {{ wtf.form_field(form.dx_max) }}
                    </div>
                    <div class="col-sm-6">
                        {{ wtf.form_field(form.dx_min) }}
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        {{ wtf.form_field(form.dy_max) }}
                    </div>
                    <div class="col-sm-6">
                        {{ wtf.form_field(form.dy_min) }}
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        {{ wtf.form_field(form.dx_mult) }}
                    </div>
                    <div class="col-sm-6">
                        {{ wtf.form_field(form.dy_mult) }}
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        {{ wtf.form_field(form.z_min) }}
                    </div>
                    <div class="col-sm-6">
                        {{ wtf.form_field(form.dz_count) }}
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        {{ wtf.form_field(form.dz) }}
                    </div>
                    <div class="col-sm-6">
                        {{ wtf.form_field(form.perm_default) }}
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        {{ wtf.form_field(form.conduct_map_filepath) }}
                    </div>
                    <div class="col-sm-6">
                        {{ wtf.form_field(form.length_of_frac) }}
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        {{ wtf.form_field(form.model_name) }}
                    </div>
                    <div class="col-sm-6">
                        {{ wtf.form_field(form.model_directory) }}
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        {{ wtf.form_field(form.is_average_perm_in_frac) }}
                    </div>

                </div>
                <button type="submit" class="btn btn-primary px-4 float-right">Создать модель</button>
            </form>
        </div>
        <div class="col-md-2 mx-auto">
        </div>
    </div>
</div>
{% endblock %}
